$tempURL : 'http://localhost/instaastro/';
$whiteClr : #FFFFFF;
$clrPrimary : #212529;
$clrDarkGray : #343a40;
$clrOrange : #FD7E14;
$clrOrangeLight : #FFF1E9;
$clrYellow : #ffcc33;
$clrRed : #fd4344;
$clrGreen : #12ce29;
$clrMediumGray : #808284;
$clrMediumGray1 : #606366;
$clrMediumGray2 : #C3C3C3;
$clrLightGray : #eaeaea;
$clrLightGray1 : #f4f4f4;

// hover color
$hoverGreen : #389E0D;
$hoverRed : #CF1322;


// fonts
$primaryFont : 'DM Sans', sans-serif;
// $fontPopins : 'Poppins', sans-serif;
$fontRajdhani : 'Rajdhani', sans-serif;